#
# Hisi Modem
#
CONFIG_HISI_BALONG_MODEM=y
CONFIG_HISI_BALONG_MODEM_HI3650=y
CONFIG_BALONG_OAM_PS=y

CONFIG_IPC_DRIVER=y

CONFIG_ICC_BALONG=y
CONFIG_ICC_BALONG_TEST is not set

CONFIG_SEC_CALL=y

CONFIG_PRINTK_USE_HARDTIMER=y
CONFIG_HARD_TIMER=y
CONFIG_SOFT_TIMER=y
CONFIG_BBP_TIMER=y

CONFIG_BALONG_MODEM_RESET=y

CONFIG_RFILE_SUPPORT=y

CONFIG_NVIM=y
CONFIG_NVIM_TEST=y

CONFIG_HW_IP_BASE_ADDR=y

CONFIG_BALONG_MODEM_ONOFF=y
CONFIG_EFUSE_BALONG_AGENT=y

CONFIG_IMAGE_LOAD=y

CONFIG_UDI_SUPPORT=y

CONFIG_MEM_BALONG=y
CONFIG_MEM_BALONG_TEST=y

CONFIG_SYNC_BALONG=y

CONFIG_IPF_SUPPORT=y
CONFIG_PSAM_SUPPORT=y

CONFIG_PM_OM_BALONG=y
CONFIG_PMIC_OCP=y

CONFIG_BBP_ACORE=y
